{% extends "base.html" %}

{% block content %}



<div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Painel Administrativo!</h1>
        <p class="py-6">O Sistema de login está em construcão, e somente usuários autorizados poderão cadastrar e
            excluir questões.</p>
    </div>
    <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <form class="card-body">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Usuario</span>
                </label>
                <input type="text" placeholder="Usuário" class="input input-bordered" required />
            </div>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Senha</span>
                </label>
                <input type="password" placeholder="password" class="input input-bordered" required />
                <label class="label">
                    <a href="#" class="label-text-alt link link-hover">Esqueceu a senha?</a>
                </label>
            </div>
            <div class="form-control mt-6">
                <button class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>



{% endblock content %}