{% extends "base.html" %}

{% block content %}

<div class="hero-content text-center py-12">
    <div class="max-w-md">
        <h1 class="text-5xl font-bold">Sobre:</h1>
        <p class="py-6">Este projeto é um sistema de busca para respostas corretas das atividades de Auto
            Aprendizagem do ambiente Blackboard.</p>
        <button class="btn btn-info"><a href="https://github.com/amaurygomes/provafacil-htmx-django">Ver
                repositório no GitHub</a></button>
    </div>
</div>


{% endblock content %}