{% load static %}
<!DOCTYPE html>
<html data-theme="synthwave" lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Codeneiz - Compilados">
  <meta property="og:description" content="Este projeto é um sistema de busca para respostas corretas das atividades de Auto Aprendizagem do ambiente Blackboard.">
  <meta property="og:image" content="https://www.example.com/path/to/image.jpg"> <!-- URL permanente da imagem -->
  <meta property="og:image:alt" content="Descrição da Imagem"> <!-- Descrição acessível da imagem -->
  <meta property="article:author" content="https://github.com/amaurygomes">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.9.0/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://unpkg.com/htmx.org@1.9.11"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>

  <title>Amaury Gomes</title>
</head>

<body x-data="{ inputValue: '' }" class="flex flex-col h-screen">

<header role="banner">
 {% include 'components/navbar.html' %}
</header>

<main role="main">
  <div class="flex-grow mx-auto px-4 lg:px-12 flex justify-center max-w-full">
    {% block content %}
    {% endblock content %}
  </div>
</main>

<footer class="fixed bottom-0 w-full p-2 z-10 footer footer-center bg-base-300 text-base-content" role="contentinfo">
  {% include 'components/footer.html' %}
</footer>

</body>
</html>
