{% extends "base.html" %}

{% block content %}

<div class="flex justify-center min-h-screen mt-16">
    <div class="w-full max-w-md" id="upload-form">
        <h1 class="text-center text-2xl font-bold mb-4">Importar dados do arquivo CSV</h1>
        
        <p class="text-center text-yellow-500 font-bold mb-4">O csv deve ter 2 colunas   <i class="text-cyan-500">Question </i> e <i class="text-cyan-500">Correct Answer</i>, e não importara questões duplicads</p>

        <div id="upload-form-wrapper">
            <form hx-post="{% url 'upload_csv' %}" hx-swap="outerHTML" enctype="multipart/form-data" class="bg-base-100 shadow-md rounded px-8 pt-6 pb-8 mb-4">
                {% csrf_token %}
                <div class="mb-4">
                    <input type="file" name="csv_file" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                </div>
                <div class="flex items-center justify-center">
                    <button type="submit" hx-target="#upload-form" class="btn btn-success">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}


