<div role="alert" class="alert" mt-4>
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>    <span>Arquivo importado e questões duplicadas excluidas.</span>
      <div>
        <button class="btn btn-sm"><a href="{% url 'list_questions' %}">Listar</a></button>
        <button class="btn btn-sm btn-primary"><a href="{% url 'import_csv' %}">Importar</a></button>
      </div>
  </div>