<div class="chat chat-start">
  <div class="chat-image avatar">
    <div class="w-10 rounded-full">
      <img alt="Tailwind CSS chat bubble component" src="https://avatars.githubusercontent.com/u/14031041?v=4" />
    </div>
  </div>
  <div class="chat-bubble">
    <p>Bem vindo ao <i class="text-cyan-500">Searchag</i> ! Faça aqui sua pesquisa para aquela questão que você está procurando. <i class="text-yellow-500">Porjeto criado para fins Educativos</i>.
    <p>Em caso de dúvidas entre em contato no <a href="https://api.whatsapp.com/send?phone=5567991044105" class="link link-primary">Whatsapp</a></p>
  </div>
</div>


